h1{
	background-color:#FFB90F;
}

h2{
	background-color:#FFD700;
	margin-left:10px;
	margin-right:370px;
	margin-top:50px
}

h3{
	background-color:#FFD700;
	margin-left:370px;
	margin-right:10px;
	margin-top:30px
}